<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Admin - Quiz</title>
    <script src="../../static/script/script.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script th:src="@{/static/script/script.js}"></script>
</head>
<body>

<div class="container">
    <h2>MENU ADMIN</h2>
    <a href="/admin/questionnaire"><input type="button" value="Créer un questionnaire"></a>
<!--    <a href="/admin/menuModifQuestionnaire"><input type="button" value="Les questionnaires"></a>-->
<!--    <a href="/admin/menuSuppQuestionnaire"><input type="button" value="Supprimer un questionnaire"></a>-->
    <a href="/admin/menuSuppUser"><input type="button" value="Gestion utilisateur"></a>
    <a th:href="@{'/logout'}"><input type="button" value="Deconnexion"></a>
</div>

</body>
</html>