<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Admin - Quizz</title>
    <link rel="stylesheet" th:href="@{/styles/styles.css}" href="../../static/styles/styles.css">
    <script src="../../static/script/script.js">


    </script>
</head>
<body>
<a  th:href="@{'/admin/menu'}">
    <img alt="f2f" th:src="@{'/image/F2F.png'}" class="logo" />
</a>

<div class="container">
    <h2>MENU ADMIN</h2>
    <a href="/admin/questionnaire"><input type="button" value="Créer un questionnaire"></a>
    <a href="/admin/menuModifQuestionnaire"><input type="button" value="Les questionnaires"></a>
    <a href="/admin/menuSuppQuestionnaire"><input type="button" value="Supprimer un questionnaire"></a>
    <a href="/admin/menuSuppUser"><input type="button" value="Gestion utilisateur"></a>
    <a th:href="@{'/logout'}"><input type="button" value="Deconnexion"></a>
</div>

</body>
</html>