<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil - EfficienceQuiz</title>
    <link rel="stylesheet" th:href="@{/styles/styles.css}" href="../../static/styles/styles.css">
    <script src="../../static/script/script.js">


    </script>
</head>
<body>

<a  th:href="@{'/admin/menu'}">
    <img alt="f2f" th:src="@{'/image/F2F.png'}" class="logo" />
</a>


<div class="container">
    <h2>MON PROFIL</h2>
    <a href="/admin/menu"><input type="button" value="Retour"></a><br><br>

    <ul th:each="u : ${utilisateur}" th:object="${u}">

        <div class="card_question">
            <br>
            <li style="font-size: 20px;font-style: italic;font-weight: bold"> <span th:text="*{email}"></span></li>
            <li style="color: #0f4c81" data-label="Nom : "> <span th:text="*{nom}"></span></li>
            <li style="color: #0f4c81" data-label="Prenom : "> <span th:text="*{prenom}"></span></li>
            <li style="color: #0f4c81" data-label="Date de naissance : "> <span th:text="*{date_de_naissance}"></span></li>
        </div>

        <form method="POST" th:action="@{'/admin/suppCompte/' + ${u.getId()}}">
            <div class="button-container">
                <input type="submit" value="Supprimer l'admin">
            </div>
        </form>

    </ul>
    <br>
</div>
</body>
</html>